@page "/"

<div class="container">
    <div class="left-side">
        <div class="search-bars">
        </div>
        <div class="content-area">
            <div class="anouncements">
                <h3>The hoodies are ready! Come to the next meeting to collect yours</h3>
                <p>Society Name</p>
                <h3>Come to the next meeting to decide on our next movie.</h3>
                <p>Society Name</p>
            </div>
            <div class="events-section">
                
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event 2 name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
                
            </div>
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event 3 name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <h1>Calendar</h1>
        <span class="calendar-date"><h2>19th Feb</h2></span>
        <h3>Terrarium making</h3>
        <h4>Plant Society</h4>
        <span class="calendar-date"><h2>23rd Feb</h2></span>
        <h3>Movie night</h3>
        <h4>Book Society</h4>
        <span class="calendar-date"></span>
        <div class="calendar-notice">No more events in your calendar</div>
    </div>
</div>
