@page "/"


<h1>Home</h1>
<div class="card-body">
    <div class="img-as-background">
        <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
    </div>
    <h4>Event name</h4>
    <p>
        Society name <br> Date
    </p>

    <button Class="primary">Add</button>
</div>

<EventCard Image="image.jpg" EventName="Event1" SocietyName="SocietyName" Date="12 Feb"> </EventCard>