.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.left-side {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 5rem;
    margin-right: 0;
}

.search-bars {
    display: flex;
    flex-direction: row;
    height: 8rem;
}

.search-box {
    display: flex;
    align-items: center;
    height: 100%;
    border-radius: 999px;
    flex-grow: 1;
    background-color: #00250010;
}

.search-box:first-child {
    margin-right: 1rem;
}

.search-box > span {
    font-size: 90%;
    color: #00250050;
    margin-left: 2rem;
}

input[type=text] {
    border: none;
    background-color: transparent;
  }

.content-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 2rem;
}

.anouncements {
    background-color: #AECFC1;
    font-size: 2vh;
    padding-left: 3rem;
    flex-grow: 1;
}

.events-section {
    background-color: #FF9F43;
    padding: 1rem;
    display:flex;
    flex-direction: row;
}

.card{
    margin:1rem;
    display: flex;
    flex-direction: column;
}

.blank-event {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 14rem;
    background-color: #33673B;
}

.details{
    display: flex;
    flex-direction: row;
}

.add-button{
    background: transparent;
    border: none;
    width: 5rem;
    right:0
}

.calendar {
    display:flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5rem;
    margin-left: 4rem;
    background-color: #AECFC1;
}

.calendar > h1 {
    margin: 0;
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    color: #002500;
    font-size: 6rem;
}

.calendar-date {
    display: flex;
    align-items: center;
    width: 100%;
    height: 2.5rem;
    margin: 2rem 0;
    background-color: #33673B50;
}

.calendar-date > h2 {
    margin: 0;
    margin-left: 2rem;
    color: #002500;
    font-weight: 600;
    font-size: 1.5rem;
}

.calendar > h3 {
    margin: 0;
    margin-left: 2rem;
    color: #002500;
    font-weight: 600;
    font-size: 1.2rem;
}

.calendar > h4 {
    margin: 0;
    margin-left: 2rem;
    margin-top: .5rem;
    color: #00250050;
    font-weight: 600;
    font-size: 1.2rem;
}

.calendar-notice {
    width: 80%;
    margin: 0 10%;
    margin-top: 5rem;
    text-align: center;
    color: #002500;
    font-size: 2rem;
    font-weight: 700;
}