@page "/home"

<div class="left-side">
    <div class="anouncements">
        <h1>Announcements</h1>
        <h2>The hoodies are ready! Come to the next meeting to collect yours</h2>
        <h3>Society Name</h3>
        <h2>Come to the next meeting to decide on our next movie.</h2>
        <h3>Society Name</h3>
    </div>
    <div class="cards">
        <div class="card">
            <div class="img">
                <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
            </div>
            <div class = "text">
                <h1>Event name</h1>
                <p>Society name</p>
                <p>Date</p>
            </div>
            <button class="addButton">Add</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
            </div>
            <div class = "text">
                <h1>Event 2 name</h1>
                <p>Society name</p>
                <p>Date</p>
            </div>
            <button class="addButton">Add</button>
        </div>
        <div class="card">
            <div class="img">
                <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
            </div>
            <div class = "text">
                <h1>Event 3 name</h1>
                <p>Society name</p>
                <p>Date</p>
            </div>
            <button class="addButton">Add</button>
        </div>
    </div>
</div>
<div class="calendar">

</div>