@page "/"
<body>
    <div class="left-side">
        <h1>Announcements</h1>
        <div class="anouncements">
            <h3>The hoodies are ready! Come to the next meeting to collect yours</h3>
            <p>Society Name</p>
            <h3>Come to the next meeting to decide on our next movie.</h3>
            <p>Society Name</p>
        </div>
        <h1>Events</h1>
        <div class="cards">
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event 2 name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
                
            </div>
            <div class="card">
                <div class="blank-event"/>
                <div class = "text">
                    <h3>Event 3 name</h3>
                    <div class="details">
                        <p>Society name <br> Date</p>
                        <button class="add-button"><img src="add_cal.png"style="max-width:4rem"/></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <p></p>
    </div>
</body>