@page "/"

<div class="container">
    <div class="left-side">
        <div class="search-bars">
            <div class="search-box">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                <input type ="text" placeholder="Find Events">
            </div>
            <div class="search-box">
                <span class="oi oi-magnifying-glass" aria-hidden="true"></span>
                <input type ="text" placeholder="Find Societies">
            </div>
        </div>
        <div class="content-area">
            <div class="anouncements">
                <h1>Anouncements</h1>
                <h3>The hoodies are ready! Come to the next meeting to collect yours</h3>
                <p>Gaming Society</p>
                <h3>Come to the next meeting to decide on our next movie.</h3>
                <p>Book Society</p>
            </div>
            <div class="events-section"> 
                <h1>Upcoming Public Events</h1> 
                <div class="card">
                    <div class="blank-event"/>
                    <h1>Movie Night</h1>
                    <h2>Anime Society</h2>
                    <h3>21 Feb, 2023 Student Union</h3>
                </div>
                <div class="card">
                    <div class="blank-event"/>
                    <h1>Tryouts</h1>
                    <h2>Basketball Society</h2>
                    <h3>22 Feb, 2023 Sports Hall</h3>
                </div>
                <div class="card">
                    <div class="blank-event"/>
                    <h1>Trip to Gallery</h1>
                    <h2>Art Society</h2>
                    <h3>23 Feb, 2023 Ferens Art Gallery</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <h1>Calendar</h1>
        <span class="calendar-date"><h2>19th Feb</h2></span>
        <h3>Terrarium making</h3>
        <h4>Plant Society</h4>
        <span class="calendar-date"><h2>23rd Feb</h2></span>
        <h3>Movie night</h3>
        <h4>Book Society</h4>
        <span class="calendar-date"></span>
        <div class="calendar-notice">No more events in your calendar</div> 
    </div>
</div>
