.body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 65%;
    margin-left: 3rem;
    margin:2rem
}

.anouncements{
    background-color: #AECFC1;
    padding-left:1rem;
    flex-grow: 1;
    line-height: 0.6;
}

.cards{
    background-color: #FF9F43;
    padding: 1rem;
    display:flex;
    flex-direction: row;
}

.card{
    margin:1rem;
    display: flex;
    flex-direction: column;
}

.blank-event {
    display: flex;
    flex-direction: column;
    height: 9rem;
    width: 14rem;
    background-color: #33673B;
}

.details{
    display: flex;
    flex-direction: row;
}

.add-button{
    background: transparent;
    border: none;
    width: 5rem;
    right:0
}

.calendar{
    width:35%;
    margin-right:3rem;
    background-color: #AECFC1;
}