@page "/"

<div class="container">
    <div class="left-side">
        <div class="search-bars">
        </div>
        <div class="content-area">
            <div class="anouncements">
                <h1>Announcements</h1>
                <h2>The hoodies are ready! Come to the next meeting to collect yours</h2>
                <h3>Society Name</h3>
                <h2>Come to the next meeting to decide on our next movie.</h2>
                <h3>Society Name</h3>
            </div>
            <div class="events-section">
                <div class="card">
                    <div class="img">
                        <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
                    </div>
                    <div class = "text">
                        <h1>Event name</h1>
                        <p>Society name</p>
                        <p>Date</p>
                    </div>
                    <button class="add-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <circle cx="75" cy="75" r="75" fill="#FBD1A2"/>
                            <path fill="#33673B" fill-rule="evenodd" d="M62.192 40.5a2.885 2.885 0 0 1 2.885 2.885v2.884h28.846v-2.884a2.885 2.885 0 0 1 5.77 0v2.884h8.653A8.654 8.654 0 0 1 117 54.923v51.923a8.655 8.655 0 0 1-8.654 8.654H50.654A8.654 8.654 0 0 1 42 106.846V54.923a8.654 8.654 0 0 1 8.654-8.654h8.654v-2.884a2.885 2.885 0 0 1 2.884-2.885Zm31.731 11.538v2.885a2.885 2.885 0 0 0 5.77 0v-2.885h8.653a2.885 2.885 0 0 1 2.885 2.885v8.654H47.769v-8.654a2.885 2.885 0 0 1 2.885-2.885h8.654v2.885a2.885 2.885 0 0 0 5.769 0v-2.885h28.846ZM47.77 69.346v37.5a2.885 2.885 0 0 0 2.885 2.885h57.692a2.885 2.885 0 0 0 2.885-2.885v-37.5H47.769ZM76.615 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77ZM99.692 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm2.885 8.654a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0ZM79.5 86.653a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm-8.654-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-2.885 14.423a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm8.653 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Z" clip-rule="evenodd"/>
                            <path stroke="#33673B" stroke-linecap="round" stroke-width="3" d="M34.5 36v9M30 40.5h9"/>
                        </svg>
                    </button>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
                    </div>
                    <div class = "text">
                        <h1>Event 2 name</h1>
                        <p>Society name</p>
                        <p>Date</p>
                    </div>
                    <button class="add-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <circle cx="75" cy="75" r="75" fill="#FBD1A2"/>
                            <path fill="#33673B" fill-rule="evenodd" d="M62.192 40.5a2.885 2.885 0 0 1 2.885 2.885v2.884h28.846v-2.884a2.885 2.885 0 0 1 5.77 0v2.884h8.653A8.654 8.654 0 0 1 117 54.923v51.923a8.655 8.655 0 0 1-8.654 8.654H50.654A8.654 8.654 0 0 1 42 106.846V54.923a8.654 8.654 0 0 1 8.654-8.654h8.654v-2.884a2.885 2.885 0 0 1 2.884-2.885Zm31.731 11.538v2.885a2.885 2.885 0 0 0 5.77 0v-2.885h8.653a2.885 2.885 0 0 1 2.885 2.885v8.654H47.769v-8.654a2.885 2.885 0 0 1 2.885-2.885h8.654v2.885a2.885 2.885 0 0 0 5.769 0v-2.885h28.846ZM47.77 69.346v37.5a2.885 2.885 0 0 0 2.885 2.885h57.692a2.885 2.885 0 0 0 2.885-2.885v-37.5H47.769ZM76.615 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77ZM99.692 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm2.885 8.654a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0ZM79.5 86.653a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm-8.654-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-2.885 14.423a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm8.653 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Z" clip-rule="evenodd"/>
                            <path stroke="#33673B" stroke-linecap="round" stroke-width="3" d="M34.5 36v9M30 40.5h9"/>
                        </svg>
                    </button>
                </div>
                <div class="card">
                    <div class="img">
                        <img src="https://htmlelements.com/demos/images/travel/16.jpg" />
                    </div>
                    <div class = "text">
                        <h1>Event 3 name</h1>
                        <p>Society name</p>
                        <p>Date</p>
                    </div>
                    <button class="add-button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 150 150">
                            <circle cx="75" cy="75" r="75" fill="#FBD1A2"/>
                            <path fill="#33673B" fill-rule="evenodd" d="M62.192 40.5a2.885 2.885 0 0 1 2.885 2.885v2.884h28.846v-2.884a2.885 2.885 0 0 1 5.77 0v2.884h8.653A8.654 8.654 0 0 1 117 54.923v51.923a8.655 8.655 0 0 1-8.654 8.654H50.654A8.654 8.654 0 0 1 42 106.846V54.923a8.654 8.654 0 0 1 8.654-8.654h8.654v-2.884a2.885 2.885 0 0 1 2.884-2.885Zm31.731 11.538v2.885a2.885 2.885 0 0 0 5.77 0v-2.885h8.653a2.885 2.885 0 0 1 2.885 2.885v8.654H47.769v-8.654a2.885 2.885 0 0 1 2.885-2.885h8.654v2.885a2.885 2.885 0 0 0 5.769 0v-2.885h28.846ZM47.77 69.346v37.5a2.885 2.885 0 0 0 2.885 2.885h57.692a2.885 2.885 0 0 0 2.885-2.885v-37.5H47.769ZM76.615 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77ZM99.692 78a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm2.885 8.654a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0ZM79.5 86.653a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-14.423 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm-8.654-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm-2.885 14.423a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Zm8.653 2.885a2.885 2.885 0 1 1 5.77 0 2.885 2.885 0 0 1-5.77 0Zm14.424-2.885a2.885 2.885 0 1 0 0 5.77 2.885 2.885 0 0 0 0-5.77Z" clip-rule="evenodd"/>
                            <path stroke="#33673B" stroke-linecap="round" stroke-width="3" d="M34.5 36v9M30 40.5h9"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="calendar">
        <h1>Calendar</h1>
        <span class="calendar-date"><h2>19th Feb</h2></span>
        <h3>Terrarium making</h3>
        <h4>Plant Society</h4>
        <span class="calendar-date"><h2>23rd Feb</h2></span>
        <h3>Movie night</h3>
        <h4>Book Society</h4>
        <span class="calendar-date"></span>
        <div class="calendar-notice">No more events in your calendar</div>
    </div>
</div>