@page "/login"


<form name ="login_form">

    <div class="login_form_email">
        <label>Email</label><br/>
        <input type ="text" name="email">       
    </div>

    <div class ="login_form_password">
        <label>Password</label><br/>
        <input type="password" name="password">
    </div>

    <div class = "login_form_buttom">
        <a href = "" class = "btn_signin">Sign in</a>
        <h1>or</h1>
        <a href = "" class = "btn_signup">Sign up</a>
    </div>

    <div class="login_image">
        <img src="login_page_art.png" width="844" height="526">
    </div>
    

    

</form>


