.login-notice {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #002500;
    font-size: 2.8rem;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85vh;
}

h1 {
    margin: 5rem;
    margin-bottom: 1rem;
    color: #002500;
    font-size: 2.8rem;
}

.societies-list {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    margin-top: 0;
}

.society-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
    padding: 3rem;
    width: 7rem;
    background-color: #33673B;
    border-radius: 2rem;
    color: #AECFC1;
    font-size: 5rem;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.society-card > h2 {
    font-size: 2rem;
    font-weight: 500;
}

.society-card:hover {
    background-color: #358540;
}

.events-section {
    position: relative;
    background-color: #FF9F43;
    margin: 5rem;
    margin-top: 0;
    flex-grow: 1;
    display:flex;
    flex-direction: row;
    padding: 3rem;
    width: 65%;
}

.events-section > h1 {
    font-size: 3rem;
    color: #002500;
    position: absolute;
    padding: 0;
    margin: 0;
    top: -2.5rem;
}

.card {
    margin-right: 3rem;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.card:last-child {
    margin-right: 0;
}

.blank-event {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #33673B;
}

.card > h1 {
    margin: 0;
    margin-top: 2rem;
    color: #002500;
    font-size: 1.6rem;
}

.card > h2 {
    margin: 0;
    margin-top: .1rem;
    color: #00250050;
}

.card > h3 {
    margin: 0;
    margin-top: .2rem;
    color: #002500;
    font-weight: 500;
}