@using DDDProject.Data;
@inject SocietyDataService societyDataService

@page "/society/{societyID}"

<div class="container">
    <div class="left-side">
        <h1>@society.Name Society</h1>
        <div class="society-info">
            <h3>A society where...</h3>
            <h2>Upcoming Events</h2>

            <div class="events-row">
                <div class="blank-event"/>
                <div class="blank-event"/>
            </div>

        </div>
        <div class="announcements-list">
            <h1>Announcements</h1>
            <h3>The hoodies are ready! Come to the next meeting to collect yours</h3>
            <p>19 Feb, 2023</p>
            <h3>Come to the next meeting to decide on our next movie.</h3>
            <p>11 Feb, 2023</p>
        </div>
    </div>

    <div class="right-side">
        <a class="society-chat" href="/chat">
            <span class="oi oi-chat" aria-hidden="true"></span>
        </a>
        <h1>Members:</h1>
        <div class="members-list">
            <span class="member-row">
                <h3>Alex</h3>
                <h4>Admin</h4>
            </span>
            <span class="member-row"><h3>Joe</h3></span>
            <span class="member-row"><h3>Kevin</h3></span>
            <span class="member-row"><h3>Tia</h3></span>
        </div>
        <button class="leave-button">
            Leave Society :(
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string societyID{ get; set; }

    private SocietyData society;

    protected override async Task OnInitializedAsync()
    {
        society = await societyDataService.RequestSocietyData(societyID);
    }
}