.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* left side */
.left-side {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 5rem;
    margin-bottom: 5rem;
}

.announcements {
    flex-grow: 1;
    background-color: #FF9F43;
    padding: 3rem;
    padding-top: 1rem;
}

h1 {
    color: #002500;
    font-size: 2.5rem;
}

h2 {
    color: #002500;
    opacity: 0.75;
    font-size: 1.8rem;
    font-weight: 500;
}

h3 {
    color: #002500;
    font-size: 1rem;
    font-weight: 500;
}

.return-button {
    height: 8rem;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: #002500;
}

.return-button:hover {
    background-color: rgba(1, 1, 1, 0.2);
    cursor: pointer;
}

/* chat section */
.chat-section {
    flex-grow: 1;
    padding: 5rem;
}

/* improved for chat text box */
textarea {
    border: 2px dashed #888;
    border-radius: 5px;
    width: 80%;
    overflow: auto;
    background: #f7f7f7
}

/* improved for speech bubbles */
.received, .sent {
    position: relative;
    font-family: arial;
    font-size: 1.1em;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.received:after, .sent:after {
    content: '';
    border: 20px solid transparent;
    position: absolute;
    margin-top: -30px;
}

.sent {
    background: #03a9f4;
    color: #fff;
    margin-left: 10%;
    top: 50%;
    text-align: right;
}

.received {
    background: #4CAF50;
    color: #fff;
    margin-left: 10px;
    margin-right: 10%;
}

.sent:after {
    border-left-color: #03a9f4;
    border-right: 0;
    right: -20px;
}

.received:after {
    border-right-color: #4CAF50;
    border-left: 0;
    left: -20px;
}

/* div within bubble for name */
.user {
    font-size: 0.8em;
    font-weight: bold;
    color: #000;
}

.msg {
    /*display: inline;*/
}