@page "/society/gaming"

<div class="container">
    <div class="left-side">
        <h1>Gaming Society</h1>
        <div class="society-info">
            <h3>A society where...</h3>
            <h2>Upcoming Events</h2>

            <div class="events-row">
                <div class="blank-event"/>
                <div class="blank-event"/>
            </div>

        </div>
        <div class="announcements-list">
            <h1>Announcements</h1>
            <h2>The hoodies are ready! Come to the next meeting to collect yours</h2>
            <h3>19 Feb, 2023</h3>
            <h2>Come to the next meeting to decide on our next movie.</h2>
            <h3>11 Feb, 2023</h3>
        </div>
    </div>

    <div class="right-side">
        <a class="society-chat" href="/chat">
            <span class="oi oi-chat" aria-hidden="true"></span>
        </a>
    </div>
</div>