.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 85vh;
    color: #002500;
}

.left-side{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 4rem;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 4rem;
}

h1 {
    margin-left: 0;
    margin-bottom: 1rem;
    font-size: 3rem;
    color: #002500;
}

.society-info {
    background-color: #AECFC1;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.events-row {
    display: flex;
    flex-direction: row;
}

.blank-event {
    display: flex;
    flex-direction: column;
    height: 10rem;
    width: 17rem;
    margin-right: 2rem;
    background-color: #33673B;
}

.announcements-list {
    background-color: #FF9F43;
    padding: 3rem;
    margin-top: 2rem;
}

.society-chat {
    aspect-ratio: 1 / 1;
    width: 100%;
    background-color: #33673B;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14rem;
    text-decoration: none;
    color: #AECFC1;
    border-radius: 2rem;
    transition: 0.2s;
    cursor: pointer;
}

.society-chat:hover {
    background-color: #358540;
}

.members-list {
    background-color: #AECFC1;
    flex-grow: 1;
    padding: 2rem;
}

.member-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

.member-row > h3 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.member-row > h4 {
    color: #33673B;
    margin: 0;
    margin-left: .5rem;
    font-weight: 400;
}

.society-info > h1 {
    font-size: 4rem;
    font-weight: 500;
}

.leave-button {
    background-color: #33673B;
    border: none;
    height: 4.5rem;
    margin-top: 2rem;
    color: #FBD1A2;
    font-weight: bold;
    font-size: 1.8rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.leave-button:hover {
    background-color: #397241;
}

/* Non-Member Styling */
.left-side{
    position: relative;
    width: 65%;
    margin-bottom: 10rem;
}

.society-header {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.profile-society {
    position: absolute;
    left: 1rem;
    background-color: #33673B;
    border-radius: 999px;
    aspect-ratio: 1;
    color: #AECFC1;
    padding: 4rem;
    font-size: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.society-header > h1 {
    margin: 0;
    margin-left: 20rem;
    font-size: 6rem;
    color: #002500;
}

.society-info {
    padding: 6rem;
    padding-top: 10rem;
}

.society-info > h3 {
    font-size: 3rem;
    font-weight: 500;
}

.society-join {
    position: absolute;
    bottom: -5rem;
    right: 10rem;
    background-color: #FF9F43;
    color: #33673B;
    font-weight: 500;
    font-size: 8rem;
    padding: 1rem 10rem;
    border-radius: 3rem;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.society-join:hover {
    background-color: #d78537;
}