.container {
    margin: 5rem;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login_form_email{
    padding: 10px 0;
    margin: 0px 70px;
}

.login_form_password{
    margin: 0px 70px;
}

.login_form_buttom{
    
    margin-top: 40px;
    margin-left: 70px;
    margin-bottom: 20px;
    

}

.login_image{
    position: absolute;
    margin-top: 80px;
    margin-left: 700px;
}

.Profile_image{
    position: absolute;  
    
}

.Logout{
    position: absolute;     
    margin-top: 800px;
}

.Profile_info{
    position: absolute;  
    margin-left: 50px;

    font-weight: 400;
    font-size: 22px; 
}

.sns_icon{
    position: absolute;  
    margin-top: 100px;
    margin-left: 250px;
}

.Bio{
    position: absolute;  
    margin-top: 150px;
    margin-left: 20px;
}

.Bio_box{
    width: 740px;
    height: 350px;

    background-color: #AECFC1;
    border-radius: 5px;
}

label {   
      
    width: 219px;
    height: 73px;
    left: 97px;
    top: 100px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 150%;
}

input{

    width: 430px;
    height: 80px;
    left: 97px;
    top: 180px;

    font-size: 200%;

    background-color: rgba(51, 103, 59, 0.25);
    border-radius: 5px;
}

.btn_signin{
    width: 430px;
    height: 70px;  

    text-align: center;
    display: block;
    text-decoration: none;

    font-size: 40px;
    font-weight: 500;
    color: aliceblue;

    background-color: rgba(255, 146, 22, 0.932);
    border-radius: 5px;

}

.btn_signup{
    width: 430px;
    height: 70px;
   

    text-align: center;
    display: block;
    text-decoration: none;

    font-size: 40px;
    font-weight: 500;
    color: aliceblue;

    background-color: rgba(20, 14, 6, 0.932);
    border-radius: 5px;
}

.btn_edit{
    width: 430px;
    height: 70px;
   

    text-align: center;
    display: block;
    text-decoration: none;

    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);

    background-color: #FF9F43;
    border-radius: 5px;
}

h1{
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}

h2{
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 23px; 
}

h3{
    font-size: 45px; 
    margin-bottom: 0px;
}

h4{
    font-size: 35px; 
    margin-top: 20px;
    margin-left: 10px;
}


