.container {
    margin: 5rem;
    display: flex;
    flex-direction: row;
}

.form {
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.login-form-field {
    width: 100%;
    margin-bottom: 3rem;
}

.login-form-field > h1 {
    margin: 0;
    color: #002500;
    font-size: 4rem;
}

.login-form-field > input {
    width: 100%;
    height: 6.5rem;
    margin-top: 1rem;
    font-size: 2rem;
    background-color: #33673B25;
    border: none;
    border-radius: .3rem;
    outline-width: 0;
    transition: 0.2s;
    /* padding-left: 3rem; */
    color: #00250085;
    font-weight: 650;
}

.login-form-field > input:focus {
    background-color: #33673B50;
}

.login_form_buttom {
    margin-top: 5rem;
}

.login-button {
    width: 100%;
    height: 5.5rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #FFE7CC;
    background-color: #FF9F43;
    border: none;
    border-radius: .3rem;
    transition: 0.2s;
    cursor: pointer;
    text-decoration: none;
}

.login-button-signup {
    background-color: #002500;
}

.login-button:hover {
    background-color: #e9913f;
}

.login-button-signup:hover {
    background-color: #002e00;
}

.login-button-spacer {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    color: #33673B;
    font-weight: 500;
    font-size: 1.5rem;
}

.login-error-message {
    margin: 0;
    width: 100%;
    text-align: center;
    padding: .5rem 0;
    border-radius: .3rem;
    margin-top: 1rem;
    background-color: rgb(188, 85, 85);
    color: white;
    font-size: 1rem;
    font-weight: 500;
    transition: 0.2s;
}

.login-image {
    margin-left: 10rem;
    margin-right: 10rem;
    flex-grow: 1;
}

/* Profile Signed In */
.Profile_image{
    position: absolute;  
    
}

.Logout{
    position: absolute;     
    margin-top: 800px;
}

.Profile_info{
    position: absolute;  
    margin-left: 50px;

    font-weight: 400;
    font-size: 22px; 
}

.sns_image{ 
    margin-top: 15px;  
}

input{

    width: 430px;
    height: 80px;
    left: 97px;
    top: 180px;

    font-size: 200%;

    background-color: rgba(51, 103, 59, 0.25);
    border-radius: 5px;
}

.btn_edit{
    width: 430px;
    height: 70px;
   

    text-align: center;
    display: block;
    text-decoration: none;

    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 0, 0);

    background-color: #FF9F43;
    border-radius: 5px;
}

h1{
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
}


.profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 5rem;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile-image {
    aspect-ratio: 1;
    height: 15rem;
    border-radius: 999px;
    background-color: #AECFC1;
}

.profile-text {
    display: flex;
    flex-direction: column;
    margin-left: 5rem;
}

.profile-text > h1 {
    margin: 0;
}

.profile-text > h2 {
    margin: 0;
}

.profile-sign-out {
    background-color: #FF9F43;
    border: none;
    border-radius: 999px;
    font-size: 2rem;
    color: #002500;
    padding: .5rem 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.profile-edit{
    background-color: #FF9F43;
    border: none;
    border-radius: 999px;
    font-size: 2rem;
    color: #002500;
    padding: .5rem 2rem;
    margin-left: 2rem;
    cursor: pointer;
}

.profile-save{
    background-color: #FF9F43;
    border: none;
    border-radius: 999px;
    font-size: 2rem;
    width: 250px;
    color: #002500; 
    margin-left: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.profile-cancel{
    
    background-color: #FF9F43;
    border: none;
    border-radius: 999px;
    font-size: 2rem;
    width: 250px;
    color: #002500;
    margin-left: 2rem;
    margin-top: 2rem;
    cursor: pointer;
}

.left-side > h1 {
    margin: 0;
    margin-top: 5rem;
    color: #002500;
    font-size: 4rem;
    font-style: italic;
}

.profile-bio {
    background-color: #AECFC1;
    flex-grow: 1;
    margin-top: 1rem;
    padding: 3rem;
    color: #002500;
    font-size: 3rem;
   
}

.right-side {
    width: 25%;
    margin: 5rem;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2rem;
}

.profile-society {
    background-color: #33673B;
    border-radius: 999px;
    aspect-ratio: 1;
    width: 50%;
    color: #AECFC1;
    font-size: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.logout-conner{
    position: absolute;
    right: 60px;
    bottom: 85px; 
    
}

textarea{
    background-color: #aecfc100;
    flex-grow: 1;
    margin-top: 1rem;
    color: #002500;
    border: none;
    font-size: 3rem;
    width: 100%;
    height: 100%;
}

h2{
    margin-left: 200px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 23px; 
}

h3{
    font-size: 45px; 
    margin-bottom: 0px;
}

h4{
    font-size: 35px; 
    margin-top: 20px;
    margin-left: 10px;
}


