<div class="card-body">
    <div class="card-text text-center">
        <img class="card-img-top" src="@Image" alt="Event image">
        <h5>@EventName</h5>
    </div>
    <div>
        <h6 class="card-text"><small>@SocietyName</small></h6>                 
        <h6 class="card-text"><small>@Date</small></h6>
    </div>
</div>

@code {

   [Parameter]
   public string Image {get; set;}

   [Parameter]
   public string EventName {get; set;}

   [Parameter]
   public string SocietyName {get; set;}

   [Parameter]
   public string Date {get; set;}
  
}