.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    height: 85%;
    background-color: #FBD1A2;
}

.top-bar {
    background-color: #FF9F43;
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: #FF9F43;
    width: 100%;
    height: 5%;
}