<div class="top-row">
    <img src="css\socks.png" alt="Logo" style="padding:2px">
</div>

<div class="nav-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <button class="button">Home</button>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="chat">
            <button class="button">Societies</button>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="mappage">
            <button class="button">Map</button>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="me">
            <button class="button">Me</button>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="login">
            <button class="button">Login</button>
        </NavLink>
    </li>
</div>