.top-row {
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

.oi {
    font-size: 2rem;
}

.nav-column {

}

.nav-item {
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 100%;
}