<div class="top-row">
    <span class="oi oi-person"></span>
</div>

<div class="nav-column">
    <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="oi oi-home" aria-hidden="true"></span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="fetchdata">
            <span class="oi oi-list-rich" aria-hidden="true"></span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="chat">
            <span class="oi oi-chat" aria-hidden="true"></span>
        </NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" href="templatepage">
            <span class="oi oi-chat" aria-hidden="true"></span>
        </NavLink>
    </li>
</div>