.top-row {
    display: flex;
    justify-content: center;
    align-items: left;
    aspect-ratio: 1;
    background-color: rgba(0,0,0,0.4);
    color: white;
}

.oi {
    font-size: 2rem;
}

.nav-column {
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: flex-end;

}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 4rem;
    color: white;
}

.nav-item:hover {
    background-color: rgba(255,255,255,0.5);
}

.oi {
    color: white;
}