.top-row {
    display: flex;
    justify-content: center;
    align-items: left;
    aspect-ratio: 1;
    background-color: #4CAF50;
    color: black;
}

.logo {









    
}

.nav-column {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
    background-color: #4CAF50;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    height: 4rem;
    color: black;
}

.nav-item:hover {
    background-color: rgba(255,255,255,0.5);
}


.button {
    background-color: #4CAF50;
    border: none;
    color: rgb(0, 0, 0);
    padding: 18px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
  }