<div class="top-row">
    <img src="socks.png" class="logo">
</div>

<div class="nav-row">
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="nav-active" href="" Match="NavLinkMatch.All">home</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="nav-active" href="societies" Match="NavLinkMatch.All">societies</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="nav-active" href="mappage">map</NavLink>
    </li>
    <li class="nav-item">
        <NavLink class="nav-link" ActiveClass="nav-active" href="user">me</NavLink>
    </li>
    @* <li class="nav-item">
        <NavLink class="nav-link" href="login">Login</NavLink>
    </li> *@
</div>